<template>
  <footer class="main-footer footer">
    <div class="container">
      <div class="content">
        <p class="has-text-centered">Capsule Corporation {{ year }}</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'main-footer',
  data() {
    return {
      year: (new Date()).getFullYear(),
    };
  },
};
</script>

<style>
.main-footer {
  background-color: #e0e0e0;
  padding: 10px;
}
</style>
