<template>
<div class="main-header-wrap">
  <div class="container">
    <nav class="navbar is-transparent">

      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="../../static/logo1.png" alt="Logo">
        </a>

        <div class="navbar-burger burger"
          v-on:click="isMenuActive = !isMenuActive"
          v-bind:class="{'is-active': isMenuActive}">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" v-bind:class="{'is-active': isMenuActive}">
        <div class="navbar-end">

          <router-link class="navbar-item link brand" to="/" tag="a" active-class="is-active" exact>
            Home
          </router-link>
          <router-link class="navbar-item brand" to="/sobre" tag="a" active-class="is-active">
            Sobre
          </router-link>
          <router-link class="navbar-item brand" to="/servicos" tag="a" active-class="is-active">
            Serviços
          </router-link>

          <!-- logo shoud be here in the middle -->

          <router-link class="navbar-item brand" to="/area-do-cliente" tag="a" active-class="is-active">
            Área do Cliente
          </router-link>
          <router-link class="navbar-item brand" to="/contato" tag="a" active-class="is-active">
            Contato
          </router-link>

          <div class="nav-item">
            <div class="infos field is-grouped has-text-centered">
              <span class="crcrs">CRC/RS N° 3975</span>
              <span class="phone">
                <small>54</small> <strong>3313.3755</strong>
              </span>
            </div>
          </div>

        </div>

      </div>
    </nav>
  </div> <!-- .container -->
</div> <!-- .main-header-wrap -->
</template>

<script>
export default {
  name: 'main-header',
  data() {
    return {
      isMenuActive: false,
      isLinkActive: false,
    };
  },
};
</script>

<style lang="scss">
@import '../scss/vars';

$h: 5rem;

.main-header-wrap {
  background-color: #eee;
  min-height: $h;

  .navbar {
    background-color: transparent;
  }

  .navbar-menu {
    min-height: $h;
    &.is-active {
      padding-top: 0;
    }
  }

    .brand {
      @media (min-width: $tablet) {
        border-bottom: 2px solid transparent;
      }
      &.is-active,
      &:hover {
        color: $primary-invert;
        @media (min-width: $tablet) {
          border-bottom: 2px solid $primary-invert;
        }
      }
    }
  .navbar-brand {
    height: $h;
    .logo {
      display: block;
      flex-shrink: 1;
      // width: 100%;
      //height: 100%;
    }
    img {
      //max-width: 100%;
      max-height: 100%;
    }
  }

  .navbar-burger {
    height: $h;
    width: $h; // Lets make it a square box.
  }

  .infos {
    flex-direction: column;
    span {
      display: block;
    }
    .crcrs {
      font-size: 10px;
    }
    .phone {
      strong {
        color: $grey;
      }
    }
  }
}
</style>
